<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <title>Map</title>
</head>

<body class="bg-black">
    <div class="flex item-start md:items-center justify-between md:justify-center px-6 mt-6 mx-auto">
        <a href="/" class="flex item-start md:items-center mb-6 text-2xl font-semibold text-white">
            <img class="w-8 h-8 mr-2" src="/ALSA1.jpeg" alt="logo" />
            ALSA
        </a>
        <div class="md:hidden">
            <button>
                <a id="confirmClickActionElementId">

                    <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-trigger="click"
                        class="text-white font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
                        type="button"><svg width="26" height="18" viewBox="0 0 26 18" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13 17.5H0.25V14.6667H13V17.5ZM25.75 10.4167H0.25V7.58333H25.75V10.4167ZM25.75 3.33333H13V0.5H25.75V3.33333Z"
                                fill="white" />
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownDelay" class="z-10 hidden divide-y rounded-lg shadow w-full bg-black">
                        <ul class="py-2 text-sm text-gray-200" aria-labelledby="dropdownDelayButton">
                            <li>
                                <a href="#" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700">
                                    <span class="ml-3">Q-854, Katpadi, Vellore, TamilNadu</span>
                                    <br />
                                    <span class="ml-5 text-sm underline underline-offset-4 text-blue-600">Price: 50₹ /
                                        30min</span>
                                </a>
                            </li>
                            <hr />
                            <li>
                                <a href="#" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700">
                                    <span class="ml-3">A-19 Mahi Nagar, Jaipur, Rajasthan</span>
                                    <br />
                                    <span class="ml-5 text-sm underline underline-offset-4 text-blue-600">Price: 35₹ /
                                        20min</span>
                                </a>
                            </li>
                            <hr />
                            <li>
                                <a href="#" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700">
                                    <span class="ml-3">Sector-8, Mumbai, Maharastra</span>
                                    <br />
                                    <span class="ml-5 text-sm underline underline-offset-4 text-blue-600">Price: 60₹ /
                                        50min</span>
                                </a>
                            </li>
                            <hr />
                        </ul>
                    </div>
                </a>
            </button>
        </div>
    </div>
    </div>

    <!-- drawer init and show -->
    <!-- <div class="flex justify-between md:px-28 p-5">
      <nav class="text-center">
        <button
          class="flex items-start p-2 text-sm text-black hidden md:block rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200"
          type="button"
          data-drawer-target="drawer-navigation"
          data-drawer-show="drawer-navigation"
          aria-controls="drawer-navigation"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </nav>
      <div class="">
        <button
          class="flex items-center justify-center px-2 p-3 text-sm text-black rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200"
          type="button"
          data-drawer-target="drawer-navigation"
          data-drawer-show="drawer-navigation"
          aria-controls="drawer-navigation"
        >
          Nearest EV Station
        </button>
      </div>
    </div> -->

    <!-- drawer component -->
    <div class="md:grid md:grid-cols-2 px-6">
        <div class="px-24 mt-2 md:mt-12">
            <h5 id="drawer-navigation-label"
                class="text-base hidden md:block underline underline-offset-4 decoration-white font-semibold uppercase text-gray-200">
                Near by charging station
            </h5>
            <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
                class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center hover:bg-gray-600 hover:text-white">
                <span class="sr-only">Close menu</span>
            </button>
            <div class="py-4 overflow-y-auto hidden md:block">
                <ul class="space-y-2 font-medium">
                    <li>
                        <a href="#" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700">
                            <span class="ml-3">Q-854, Katpadi, Vellore, TamilNadu</span>
                            <br />
                            <span class="ml-5 text-sm underline underline-offset-4 text-blue-600">Price: 50₹ /
                                30min</span>
                        </a>
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700">
                            <span class="ml-3">A-19 Mahi Nagar, Jaipur, Rajasthan</span>
                            <br />
                            <span class="ml-5 text-sm underline underline-offset-4 text-blue-600">Price: 35₹ /
                                20min</span>
                        </a>
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700">
                            <span class="ml-3">Sector-8, Mumbai, Maharastra</span>
                            <br />
                            <span class="ml-5 text-sm underline underline-offset-4 text-blue-600">Price: 60₹ /
                                50min</span>
                        </a>
                    </li>
                    <hr />
                </ul>
            </div>
        </div>

        <div class="container flex justify-between items-center px-1 md:px-6 mx-auto w-full mb-6">
            <section class="w-full">
                <div class="mt-6">
                    <!-- Tailblocks -->
                    <section class="text-gray-400 bg-slate-900 relative rounded-xl">
                        <div class="container px-4 py-6 mx-auto">
                            <div class="bg-slate-900 rounded-lg overflow-hidden flex items-end justify-start relative">
                                <div id="map" style="width: 1400px; height: 600px"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>

    <script>
        mapboxgl.accessToken =
            "pk.eyJ1IjoiZGhhcmFuc2huZWVtYSIsImEiOiJjbGlmNDVyZzExNms2M2tuYmJ6a29rNTRtIn0.cjCinyijpfYRIsCRyqGgVg";
        const map = new mapboxgl.Map({
            container: "map", // container ID
            style: "mapbox://styles/mapbox/streets-v12", // style URL
            center: [79.1559, 12.9692], // starting position [lng, lat]
            zoom: 15, // starting zoom
        });
    </script>

    <script src="/static/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>