#particles-js {
    width: 100%;
    height: 100vh;
}

/* transition  */
@media (min-width: 1000px) {

    @keyframes lefttoright {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .lefttoright {
        animation: lefttoright 5s;
    }

    @keyframes righttoleft {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .righttoleft {
        animation: righttoleft 5s;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fade {
        animation: fade 5s;
    }



    @keyframes toptobottom {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .toptobottom {
        animation: toptobottom 5s;
    }

    @keyframes bottomtotop {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .bottomtotop {
        animation: bottomtotop 5s;
    }
}